<footer class="site-footer">
  <div class="footer-contact">
    <strong>Przykładowa Firma Sp. z o.o.</strong><br>
    ul. Fikcyjna 123, 00-000 Warszawa<br>
    tel: 123 456 789<br>
    email: kontakt@przykladowa.pl
  </div>
  <div class="footer-map">
    <iframe
      src="https://www.google.com/maps?q=ul.+Fikcyjna+123,+Warszawa&output=embed"
      width="100%"
      height="200"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
 
</footer>
