<footer class="site-footer">
  <div class="footer-company">
    <img src="{{ '/assets/kicksauber.png' | relative_url }}" alt="Logo firmy" class="footer-logo">
    <div class="footer-company-text">
      <span class="company-name">Przykładowa Firma Sp. z o.o.</span>
      <span class="company-contact">ul. Fikcyjna 123, 00-000 Warszawa<br>tel: 123 456 789 &nbsp; | &nbsp; email: kontakt@przykladowa.pl</span>
    </div>
  </div>
  <div class="footer-social">
    <a href="https://instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://tiktok.com/" target="_blank" title="TikTok"><i class="fab fa-tiktok"></i></a>
    <a href="https://youtube.com/" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
  </div>
</footer>
