<nav>
  <ul class="main-nav">
    {% for item in site.nav %}
      {% if item.submenu %}
        <li class="has-dropdown">
          <a href="#" class="dropdown-toggle" tabindex="0">{{ item.title }}</a>
          <ul class="dropdown-menu">
            {% for subitem in item.submenu %}
              <li><a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
