<div class="site-topbar">
  <div class="topbar-company">
    <img src="/assets/logo.png" alt="Logo firmy" class="company-logo">
    <div class="topbar-company-text">
      <span class="company-name">Przykładowa Firma Sp. z o.o.</span>
      <span class="company-contact">ul. Fikcyjna 123, 00-000 Warszawa, tel: 123 456 789</span>
    </div>
  </div>
  <div class="topbar-social">
    <a href="#" title="Facebook" aria-label="Facebook"><svg width="1em" height="1em" fill="currentColor"><use xlink:href="#icon-facebook"/></svg></a>
    <a href="#" title="Instagram" aria-label="Instagram"><svg width="1em" height="1em" fill="currentColor"><use xlink:href="#icon-instagram"/></svg></a>
    <a href="#" title="LinkedIn" aria-label="LinkedIn"><svg width="1em" height="1em" fill="currentColor"><use xlink:href="#icon-linkedin"/></svg></a>
  </div>
